* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0px;
    list-style-type: none;
}

.nev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.nevit nav ul li {
    display: inline;
    padding: 0px 20px;

}

.nevit nav ul li a {
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.button1 {
    padding: 15px 25px;
    border-radius: 35px;
    font-size: 20px;
    border: 0 solid whitesmoke;
    color: white;
    font: bold;
    background-color: rgb(59, 199, 255);
}
.contentnar2 h1{
    font-size: 25px;
    color: rgb(114, 255, 255);
}