@media (max-width:991px){
    .nav-toggle{
        display: block;
        margin-right:20px;
    }
    .nav-links{
        display: none;
    }
    .features-area{
       display:block;
    }
}

@media (max-width:320px){
    .container{
        flex-direction: column-reverse;
    }
    .header-right img{
        width: 250px;
        height: 200px;
    }
    .grow-right{
        flex-direction: column;
    }
}