$c-1:rgb(252, 0, 0);
$c-2:rgb(250, 189, 199);
$c-3:rgb(244, 1, 1);
$c-4:rgb(38, 0, 128);
$c-5:rgb(126, 128, 0);
$c-6:rgb(8, 199, 247);
$c-7:rgb(128, 0, 119);
$c-8:rgb(41, 84, 17);
$c-9:rgb(81, 74, 33);
$c-10:rgb(34, 67, 113);
$c-11:rgb(81, 0, 128);
$c-12:rgb(135, 27, 75);
$c-13:rgb(25, 23, 39);
$c-14:rgb(163, 115, 214);
